.card-container {
    width: 373px;
    height: 428px;
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--lightgrey);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000012;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
}

.card-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0px;
}

.image-container span {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto-slab);
    font: normal normal bold 14px/19px Roboto Slab;
    position: absolute;
    background: var(--green) 0% 0% no-repeat padding-box;
    background: #96BB36 0% 0% no-repeat padding-box;
    color: white;
    border-radius: 15px;
    opacity: 1;
    padding: 3px 10px;
    margin-top: 17px;
    margin-left: 25px;
    text-align: center;
}

.image-container img{
    width: 373px;
    height: 234px;
    overflow: hidden;
    border-radius: 3px;
    /* position: relative; */
}

.card-title h3 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-roboto-slab);
    font: normal normal bold 20px/26px Roboto Slab;
    color: #F0972A;
    text-align: left;
    letter-spacing: 0px;
    letter-spacing: var(--unnamed-character-spacing-0);
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 25px;
}

.card-body p {
    color: #A5A5A5;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    font: normal normal normal 14px/19px Roboto;
    text-align: left;
    /* margin-left: 25px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px; */
    margin: 10px 30px 20px 25px;
    letter-spacing: 0px;
    opacity: 1;
}

.card-facilities {
    display: flex;
    align-items: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/16px var(--unnamed-font-family-roboto-slab);
    font: normal normal bold 12px/16px Roboto Slab;
    color: #626262;   
    margin-left: 25px;
}

.time-text {
    margin-left: 5px;
    margin-right: 10px;
}

.persons-text {
    margin-left: 5px;
    margin-right: 10px;
}

.stars-text {
    margin-left: 5px;
}

.next-arrows-btn {
    margin-left: 105px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #96BB36;
    opacity: 1;
    padding: 5px 7px;
    transition: 0.1s;
    justify-items: center;
}

.next-arrows-btn:hover {
    background-color: #536b17;
    transition: 0.1s;
}